.carousel{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 35px 35px 10px 35px;
}
.carousel__container{
    padding: 35px 0px;
    white-space: nowrap;
    overflow-x: scroll;
    
}
::-webkit-scrollbar {
    display: none;
}

/*~ sirve para --> cuando se haga hover en el .carousel-item, los demás items hacen lo siguiente*/
.carousel-item:hover ~ .carousel-item{
    transform: translate(60px);
}
.carousel__container:hover .carousel-item {
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
    transform: scale(1.3);
    opacity: 1;
}